<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="images/main_icon.png">
<title>Projeto Integrado de Telecomunicações</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style> html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="papaparse.min.js"></script>
</head>

<body class="w3-light-grey">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <span class="w3-bar-item w3-left">Meteorological Station</span>
    <span class="w3-bar-item w3-right">PIT G2</span>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:25px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:20px">
    <h5><b><i class="fa fa-table"></i> Data recorded until now</b></h5>
  </header>

<!-- TABLE --> <!--LATER TO BE DELETED FROM HERE-->
<script type="text/javascript">
  function Upload() {
      var fileUpload = document.getElementById("fileUpload");
      var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
      if (regex.test(fileUpload.value.toLowerCase())) {
          if (typeof (FileReader) != "undefined") {
              var reader = new FileReader();
              reader.onload = function (e) {
                  var table = document.createElement("table");
                  var rows = e.target.result.split("\n");
                  for (var i = 0; i < rows.length; i++) {
                      var cells = rows[i].split(",");
                      if (cells.length > 1) {
                          var row = table.insertRow(-1);
                          for (var j = 0; j < cells.length; j++) {
                              var cell = row.insertCell(-1);
                              cell.innerHTML = cells[j];
                          }
                      }
                  }
                  var dvCSV = document.getElementById("dvCSV");
                  dvCSV.innerHTML = "";
                  dvCSV.appendChild(table);
              }
              reader.readAsText(fileUpload.files[0]);
          } else {
              alert("This browser does not support HTML5.");
          }
      } else {
          alert("Please upload a valid CSV file.");
      }
  }
</script>
<input type="file" id="fileUpload"/>
<input type="button" id="upload" value="UPLOAD" onclick="Upload()" />

<hr/>
<div id="dvCSV"></div>

<!--LATER TO BE DELETED UNTIL HERE, ALSO DELETE THE 2 SCRIPTS AFTER THE STYLE ATTRIBUTE IN HEAD-->

</div>
</body>
</html>