<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="images/main_icon.png">
<title>Projeto Integrado de Telecomunicações</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style> html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <span class="w3-bar-item w3-left">Meteorological Station</span>
    <span class="w3-bar-item w3-right">PIT G2</span>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:25px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:20px">
    <h5><b><i class="fa fa-table"></i> Data recorded until now</b></h5>
  </header>

<!-- TABLE -->


</div>

<script>

</script>

</body>
</html>