 .modal {
   display:none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: hsl(0, 0%, 0%); /* Fallback color */
   background-color: hsla(0, 0%, 0%, 0.4); /* Black w/ opacity */
 }

 /* Modal Content/Box */
 .modal-content {
   background-color: hsl(0, 0%, 100%);
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid hsl(0, 0%, 53%);
   width: 80%; /* Could be more or less, depending on screen size */
 }

 /* The Close Button */
 .close {
   color: hsl(0, 0%, 67%);
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 .close:hover, .close:focus {
   color: hsl(0, 0%, 0%);
   text-decoration: none;
   cursor: pointer;
 }

 /* DROPDOWN CSS SETTINGS*/
 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: hsl(0, 0%, 95%);
   min-width: 160px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
   z-index: 1;
 }

 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown a:hover {background-color: hsl(0, 0%, 87%);}

 .show {display: block;}